.btn-delete {
    font-size: 1em;
    color: red;
    background: white;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 4px 16px;
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

.btn-delete .mdi {
    color: red;
    font-size: 22px;
}

.btn-delete:hover {
    box-shadow: 0 0 0 4px #ffcccc;
}

.navBar{
    position: fixed;
    display: flex;
    width: 100%;
    height: auto;
    background-color: black;
    margin: 0;
    top: 0;
    left: 0;
    justify-content: space-between;
}

.navBarItem{
    flex-grow: 1;
    height: 40px;
    border-radius: 5px;
    border: 1px solid black;
    margin: 5px 5px 5px 5px;
    padding: 6px;
    font-size: 1.4em;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
    text-align: center;
    background-color: rgb(225, 225, 225);
    user-select: none;
}

.navBarItem:hover {
    background-color: rgb(112, 112, 112);
}

.navBarItem.active {
    background-color: rgb(71, 71, 71);
    color: white;
}

footer{
    position: absolute;
    z-index: 1000;
    bottom: 0;
    left: 0;
    background-color: black;
    color: white;
    width: 100%;
    padding-left: 10px;
    height: 25px;
}

footer a{
    margin: 4px;
    padding-top: 2px;
    padding-bottom: 5px;
}

.hide{
    display: none !important;
}

.adminField{
    z-index: 1000;
    position: absolute;
    width: 250px;
    top: 60px;
    border: 3px black solid;
    padding: 20px;
    border-radius: 0 0 10px 10px;
    position: fixed;
    right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    background-color: white;
    height: auto;
}